.tweets{
  list-style-type: none;
}
.tweets li{
  background-color: #bbebf0;
  border: solid;
  border-width: 1px;
}
.tweets .result {
  display: inline-block;
  font-size: small;
  border-right: solid;
  border-width: 1px;
  color: black;
  padding: 0.8em 0.7em 0 0.7em;
  height: 1.8em;
  background-color: #75dbe6;
}
